<button type="button" id = "find-me" style="width: auto;">Show my location</button><br/>
<p id = "status"</p>
<p id = "map-link"</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

<script language="JavaScript">

  function geoFindMe() {

  const status = document.querySelector('#status');
  const mapLink = document.querySelector('#map-link');

  mapLink.href = '';
  mapLink.textContent = '';

  function success(position) {
    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    status.textContent = '';
    mapLink.innerHTML = `Latitude: ${latitude} °, Longitude: ${longitude} ° </br>`
    mapLink.innerHTML += `<a href='https://www.openstreetmap.org/#map=18/${latitude}/${longitude}'>openstreetmap</a>`;
  }

  function error() {
    // status.textContent = `Unable to retrieve your location,`;
    status.innerHTML = 'Unable to retrieve your location </br>'
    status.innerHTML += `please review your `;
    status.innerHTML += `<a href='https://support.google.com/chrome/answer/142065?hl=en&co=GENIE.Platform%3DAndroid'>device permissions</a>`;
  }

  if(!navigator.geolocation) {
    status.textContent = 'Geolocation is not supported by your browser';
  } else {
    status.textContent = 'Locating…';
    navigator.geolocation.getCurrentPosition(success, error);
  }
}

document.querySelector('#find-me').addEventListener('click', geoFindMe);

</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
