<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<script src="js/L.Mask.js"></script>

<script src="/js/leaflet.ajax.min.js"></script>

<script src="/data/sound_circuts_programme.js"></script>

<script>

  Polygons = []
  Points = []

  for (i = 0; i < sc_json.features.length; i++){
    feature_json = sc_json["features"][i];
    feature_type = feature_json["geometry"]["type"];
    if (feature_type === "Polygon"){
      Polygons.push(feature_json);
      // location_bounds.push(feature_json);
      // console.log(feature_json);
    }else if (feature_type === "Point"){
      Points.push(feature_json)
    }
  }

  // for (i = 0; i < Polygons.length; i++){
  //   ply_json = Polygons[i];
  //   console.log(ply_json.geometry.coordinates)
  //
  //   ply_obj = L.geoJSON(ply_json);
  //   for (j = 0; j < Points.length; j++){
  //     pnt_json = Points[j];
  //     console.log(pnt_json.geometry.coordinates)
  //     pnt_obj = L.geoJSON(pnt_json)
  //
  //     if (inside(pnt_json.geometry.coordinates,ply_json.geometry.coordinates)){
  //       console.log("asdas")
  //     }
  //   }
  // }

// var map_url = 'https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png'
  var map_url_global = 'https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png'
  var map_url_install = 'https://{s}.basemaps.cartocdn.com/rastertiles/light_all/{z}/{x}/{y}.png'
  var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';

  function generate_map(lat,lng,zoom){
    var map = L.map('map', {
      'center': [lat,lng],
      'zoom': zoom,
      'layers': [
      L.tileLayer(map_url_install, {
        attribution: cartodbAttribution
      })
      ]
    });
    // or, add to an existing map:
    map.addControl(new L.Control.Fullscreen());
    return map;
  }

  map = generate_map(lat,lng,zoom);

  var yellowPinIcon = new L.Icon({
    iconUrl: 'img/marker-icon-2x-gold-75.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  function userUpdateLocation(user_lat, user_lng){
    console.log("updated");
    zoom = 14;
    map.remove();
    map = generate_map(user_lat, user_lng, zoom);
    L.marker([user_lat, user_lng], {icon: yellowPinIcon}).addTo(map)
    .bindPopup("You are here").openPopup();
    ;
  }

  // function onLocationFound(e) {
  //   var radius = e.accuracy / 2;
  //
  //   L.marker(e.latlng).addTo(map)
  //     .bindPopup("You are within " + radius + " meters from this point").openPopup();
  //
  //   L.circle(e.latlng, radius).addTo(map);
  // }
  //
  // function onLocationError(e) {
  //   alert(e.message);
  // }
  //
  // map.on('locationfound', onLocationFound);
  // map.on('locationerror', onLocationError);
  //
  // map.locate({setView: true, maxZoom: 16});

  // mask.ejs
  var latLngs = [];
  // var sc_areas = [];
  var mask_coordinates = [];
  // var coordinates;
  var active_area_id = 0;

  for (i=0; i<Polygons[0].length; i++) {
    mask_coordinates.push(Polygons[i].geometry.coordinates[0])
  }

  var coordinates = Polygons[0].geometry.coordinates[0];
  for (i=0; i<coordinates.length; i++) {
    latLngs.push(new L.LatLng(coordinates[i][1], coordinates[i][0]));
  }
  var mask = L.mask(latLngs)
  mask.addTo(map);

  var options = {
    style: function (feature) {
      return {
        "color": "yellow",
        "weight": 2,
        "opacity": 0.4,
        "fillColor": "yellow",
        "fillOpacity": 0.9
      };
    }
  };

  var coordinates = Polygons[0].geometry.coordinates[0];
  var coordinates1 = Polygons[1].geometry.coordinates[0];
  var coordinates2 = Polygons[2].geometry.coordinates[0];
  var coordinates3 = Polygons[3].geometry.coordinates[0];
  var coordinates4 = Polygons[4].geometry.coordinates[0];

  function updateMask(){
    sc_areas = [];
    for (i=0; i<Polygons.length; i++) {
        var lpoly = new L.geoJson(Polygons[i], options);
        // console.log(lpoly)
        sc_areas.push(lpoly);
        lpoly.addTo(map);
      }
    sc_areas[2].on('click', function(e) {
      //open popup;
      active_area_id = 0;
      var popup = L.popup()
      .setLatLng(e.latlng)
      .setContent('Sound Circut')
      .openOn(map);
      map.removeLayer(mask)
      var latLngs = []
      // var coordinates = Polygons[2].geometry.coordinates[0];
      for (i=0; i<coordinates2.length; i++) {
        latLngs.push(new L.LatLng(coordinates2[i][1], coordinates2[i][0]));
      }
      mask = L.mask(latLngs)
      mask.addTo(map);
      updateMask();
    });
      sc_areas[1].on('click', function(e) {
      //open popup;
      active_area_id = 0;
      var popup = L.popup()
      .setLatLng(e.latlng)
      .setContent('Sound Circut')
      .openOn(map);
      map.removeLayer(mask)
      var latLngs = []
      // var coordinates = Polygons[2].geometry.coordinates[0];
      for (i=0; i<coordinates1.length; i++) {
        latLngs.push(new L.LatLng(coordinates1[i][1], coordinates1[i][0]));
      }
      mask = L.mask(latLngs)
      mask.addTo(map);
      updateView();
    });
  }

function updateView(){
  layerpoly = new L.geoJson(Polygons[0],options)
   layerpoly2 = new L.geoJson(Polygons[1],options)
   layerpoly3 = new L.geoJson(Polygons[2],options)
   layerpoly4 = new L.geoJson(Polygons[3],options)
   layerpoly5 = new L.geoJson(Polygons[4],options)
   layerpoly6 = new L.geoJson(Polygons[5],options)
    layerpoly7 = new L.geoJson(Polygons[6],options)
    layerpoly8 = new L.geoJson(Polygons[7],options)
    layerpoly9 = new L.geoJson(Polygons[8],options)
  layerpoly.addTo(map);
  layerpoly2.addTo(map);
  layerpoly3.addTo(map);
  layerpoly4.addTo(map);
  layerpoly5.addTo(map);
  layerpoly6.addTo(map);
  layerpoly7.addTo(map);
  layerpoly8.addTo(map);
  layerpoly9.addTo(map);


  layerpoly.on('click', function(e) {
  //open popup;
  active_area = 0;
  var popup = L.popup()
   .setLatLng(e.latlng)
   .setContent('Artwork, Artist Name' + '<br><a href="https://eufonia.io/william-phoenix-primett">More Info</a>"')
   // .setContent('Sound Circut link')
   .openOn(map);
  map.removeLayer(mask)
  latLngs = []
  for (i=0; i<coordinates.length; i++) {
      latLngs.push(new L.LatLng(coordinates[i][1], coordinates[i][0]));
  }
  mask = L.mask(latLngs)
  mask.addTo(map);

  updateView();
});

layerpoly2.on('click', function(e) {
  //open popup;
  active_area = 1;
  var popup = L.popup()
   .setLatLng(e.latlng)
   .setContent('Sound Circut')
   .openOn(map);
  map.removeLayer(mask)
  latLngs = []
  for (i=0; i<coordinates1.length; i++) {
      latLngs.push(new L.LatLng(coordinates1[i][1], coordinates1[i][0]));
  }
  mask = L.mask(latLngs)
  mask.addTo(map);
  updateView();
});

layerpoly3.on('click', function(e) {
  //open popup;
  active_area = 2;
  var popup = L.popup()
   .setLatLng(e.latlng)
   .setContent('Sound Circut')
   .openOn(map);
  map.removeLayer(mask)
  latLngs = []
  for (i=0; i<coordinates2.length; i++) {
      latLngs.push(new L.LatLng(coordinates2[i][1], coordinates2[i][0]));
  }
  mask = L.mask(latLngs)
  mask.addTo(map);
  updateView();
});

layerpoly4.on('click', function(e) {
  //open popup;
  active_area = 3;
  var popup = L.popup()
   .setLatLng(e.latlng)
   .setContent('Sound Circut')
   .openOn(map);
  map.removeLayer(mask)
  latLngs = []
  for (i=0; i<coordinates3.length; i++) {
      latLngs.push(new L.LatLng(coordinates3[i][1], coordinates3[i][0]));
  }
  mask = L.mask(latLngs)
  mask.addTo(map);
  updateView();
});

layerpoly5.on('click', function(e) {
  //open popup;
  active_area = 3;
  var popup = L.popup()
   .setLatLng(e.latlng)
   .setContent('Sound Circut')
   .openOn(map);
  map.removeLayer(mask)
  latLngs = []
  for (i=0; i<coordinates4.length; i++) {
      latLngs.push(new L.LatLng(coordinates4[i][1], coordinates4[i][0]));
  }
  mask = L.mask(latLngs)
  mask.addTo(map);
  updateView();
});
}

updateView();
  // updateMask();
</script>
