<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<script src="js/L.Mask.js"></script>


<script>

  function generate_map(){
    var map = L.map('map', {
      'center': [lat,lng],
      'zoom': zoom,
      'layers': [
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        })
      ]
    });
    return map;
  }

  map = generate_map();

  var yellowPinIcon = new L.Icon({
    iconUrl: 'img/marker-icon-2x-gold-75.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  function userUpdateLocation(user_lat, user_lng){
    console.log("updated");
    map.remove();
    map = generate_map();
    L.marker([user_lat, user_lng], {icon: yellowPinIcon}).addTo(map)
      .bindPopup("You are here").openPopup();
;
  }

  // function onLocationFound(e) {
  //   var radius = e.accuracy / 2;
  //
  //   L.marker(e.latlng).addTo(map)
  //     .bindPopup("You are within " + radius + " meters from this point").openPopup();
  //
  //   L.circle(e.latlng, radius).addTo(map);
  // }
  //
  // function onLocationError(e) {
  //   alert(e.message);
  // }
  //
  // map.on('locationfound', onLocationFound);
  // map.on('locationerror', onLocationError);
  //
  // map.locate({setView: true, maxZoom: 16});

  // or, add to an existing map:
  map.addControl(new L.Control.Fullscreen());

  // mask.ejs
  var latLngs = [];
  var layerpoly = []
  var mask_coordinates = [];
  var active_area_id = 0;

  for (i=0; i<location_bounds.length; i++) {
    var coordinates = location_bounds[i].features[0].geometry.coordinates[0];
    mask_coordinates.push(coordinates);

    latLngs.push(new L.LatLng(coordinates[i][1], coordinates[i][0]));
  }


  var mask = L.mask(latLngs)
  mask.addTo(map);

  var options = {
    style: function (feature) {
      return {
        "color": "yellow",
        "weight": 2,
        "opacity": 0.4,
        "fillColor": "transparent",
        "fillOpacity": 0.
      };
    }
  };

  function updateMask(){
    layerpoly[0] = new L.geoJson(location_bounds[0].features,options)
    layerpoly[0].addTo(map);

    // for (i=0; i<location_bounds.length; i++) {
    //     layerpoly[i].push(new L.geoJson(location_bounds[i].features,options));
    //     layerpoly[i].addTo(map);
    //   }
      layerpoly[0].on('mouseover', function(e) {
      //open popup;
      active_area = 0;
      var popup = L.popup()
       .setLatLng(e.latlng)
       .setContent('Sound Circut')
       .openOn(map);
      map.removeLayer(mask)
      latLngs = []
      for (i=0; i<coordinates.length; i++) {
          latLngs.push(new L.LatLng(coordinates[i][1], coordinates[i][0]));
      }
      mask = L.mask(latLngs)
      mask.addTo(map);
      updateView();
    });
  }

  updateMask();
</script>
