<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>
  var lng = -9.138307571411133;
  var lat = 38.7134426585726;
  var zoom = 12;

  var map = L.map('map', {
    'center': [lat,lng],
    'zoom': zoom,
    'layers': [
      L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png', {
              attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
      })
    ]
  });
</script>
