<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sound Circuts</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5d12470425ddfa000196b66d/1562832964111-NHO8W2MZ5QGYLD0SSLY9/favicon.ico?format=100w"/>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

  </head>
  <body>
  <button type="button" id = "find-me" style="width: auto;">Show my location</button><br/>
  <p id = "status"</p>
  <p id = "map-link"</p>

  <script language="JavaScript">
  function geoFindMe() {

  const status = document.querySelector('#status');
  const mapLink = document.querySelector('#map-link');

  mapLink.href = '';
  mapLink.textContent = '';

  function success(position) {
    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    status.textContent = '';
    mapLink.innerHTML = `<a href='https://www.openstreetmap.org/#map=18/${latitude}/${longitude}'>device permissions</a>`;
    mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
    console.log(longitude);
  }

  function error() {
    // status.textContent = `Unable to retrieve your location,`;
    status.innerHTML = 'Unable to retrieve your location </br>'
    status.innerHTML += `please review your `;
    status.innerHTML += `<a href='https://support.google.com/chrome/answer/142065?hl=en&co=GENIE.Platform%3DAndroid'>device permissions</a>`;
  }

  if(!navigator.geolocation) {
    status.textContent = 'Geolocation is not supported by your browser';
  } else {
    status.textContent = 'Locating…';
    navigator.geolocation.getCurrentPosition(success, error);
  }
}

document.querySelector('#find-me').addEventListener('click', geoFindMe);

</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
