/* body {
  padding-top: 50px;
} */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#headshot {
    width: 500px;
}

html, body {
  height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #F2003C;
  color: white;
  padding: 16px 25px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}

p {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #222;
}

.container-fluid{
  border-color: white;
  background-color: #FFFF00;
  box-shadow: 5px 5px #333;
  opacity: 0.75;
}


.navbar-brand{
  padding-left: 25px;
}

.leaflet-popup-content-wrapper,.leaflet-popup-content
{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
   border-radius: 0 !important;
}

.navbar-default .navbar-brand {
  color: #1e1e1e;
}

.navbar-header, ul{
  font-family: monospace;
}

.center-img {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 2.5%;
}

#find-me{
  border-radius: 0;
  color: #1e1e1e;
  border-color: white;
  background-color: #FFFF00;
  box-shadow: 3px 3px #aaa;
  opacity: 0.75;
}
